[Unit]
Description=file system events scheduler

[Service]
Type=forking
PIDFile=/run/incrond.pid
ExecStart=/usr/sbin/incrond

[Install]
WantedBy=multi-user.target
